<!-- <div class="inventory-body">
    <div class="inventory-search">
        <input type="text" placeholder="Seach product...">
    </div>

    <div class="inventory-table">
        <div class="inventory-table-headers">
            <div class="inventory-table-header" *ngFor="let header of tableHeaders">{{ header }}</div>
        </div>
        <div class="inventory-table-datas" *ngFor="let data of dataSource">
            <div class="inventory-table-data">{{ data.sno }}</div>
            <input type="text" autofocus class="inventory-table-data" placeholder="Enter product"
                [(ngModel)]="data.product" type="text">
            <input type="text" class="inventory-table-data" [(ngModel)]="data.quantity">
            <input type="text" class="inventory-table-data" [(ngModel)]="data.price" (blur)="addNewRow(data)">
        </div>
    </div>
</div> -->