$sno-cell-width: 3rem;
$product-width: 90rem;

$default-cell-width: 7rem;
$default-border-radius: 5px;
$default-margin: 10px;
$default-padding: 10px;
$default-cell-padding: 0.5rem;
$default-border-color: black;

$sno-cell-text-align: center;
$product-cell-text-align: left;
$default-cell-text-align: right;

$table-header-bg-color: #011b33;
$table-data-bottom-bg-color: #03a9f429;
$grand-total-bg-color: #011b33;

.historical-table {
    border: 1px solid blue;
    border-radius: 5px;
    margin: $default-margin;
    height: calc(100vh - 10vw);
    overflow-y: auto;
}

.grid-container-table {
    display: grid;
    grid-template-columns: 10% 20% 20% 10% 25% 10% 5%;
}

.historical-search {
    margin: $default-margin;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.historical-search-input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}

.grid-container-table-header {
    background : $table-header-bg-color;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
    border: none;
}

.grid-container-table-data {
    text-align: center;
    border-bottom: 1px solid $table-data-bottom-bg-color;
}

.grid-container-table-data:last-child {
    text-align: center;
}

.invoice-button {
    background: black;
    color: white;
    font-weight: bold;
    width: 80%;
    border-radius: 10px;
}

.print-icon {
    color: #03a9f4;
}

.delete-icon {
    margin-left: 5px;
    color: red;
}